.container{
    width: 1000px;
    margin: 0 auto;
    position: relative;
}
.header{
    z-index: 1;
    padding-top: 12px;
    padding-bottom: 12px;
    color: rgba(255,255,255,0.75);
    background-color: #24292e;
    height: 34px;
}
.logo-wrap{
    float: left;
    height: 30px;
}
.logo-invertocat{
    display: inline-block;
    float: left;
    margin: -1px 15px -1px -2px;
    color:#fff;
    white-space: nowrap;
}
.oction{
    float: left;
    overflow: hidden;
    vertical-align: text-bottom;
    display: inline-block;
    fill: currentColor;
}
.nav-wrap{
    float: left;
    margin-left:60px;
    height: 30px;
}
.nav-wrap .nav-item{display: inline-block;width: 60px;margin-right: 10px;height: 30px;line-height: 30px;text-align: center;}
.nav-wrap .nav-item a{
    color: #fff;
    font-size: 16px;
}
.nav-wrap .nav-item a:hover{color: #009688;}